.wrapper {
	display: flex;
	height: 100vh;
	position: relative;
}
.gargona1,
.gargona2 {
	position: absolute;
	width: 600px;
	left: calc(50% - 300px);
	z-index: 0;
	top: 50px;
}
.before {
	background-color: var(--black-color);
}
.after {
	background-color: var(--white-color);
}
.before,
.after {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	transition: all 0.7s ease;
	overflow: hidden;
}

.beforeContent,
.afterContent {
	max-width: 615px;
	mix-blend-mode: difference;
	transition: all 0.4s ease;
	padding: 0 15px;
}
.beforeContent {
	margin-left: auto;
}
.afterContent {
	margin-right: auto;
}

.beforeActive,
.afterActive {
	max-width: 1230px;
	transition: all 1.6s ease-in-out;
	margin: 0 auto;
}
.closeAfter,
.closeBefore {
	transition: all 0.4s ease;
	width: 0;
}

.buttonBefore {
	margin-left: auto;
}
